.form__submit-btn {
    border: none;
    background: #000000;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 13px 10px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    transition: all .1s ease-in;
}

.form__submit-btn:hover {
    opacity: .8;
}

@media screen and (max-width: 575px) {
    .form__submit-btn {
        font-size: 12px;
        line-height: 1.25;
        background-repeat: 3px;
    }
}